asgiref==3.8.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
DateTime==5.5
Flask==3.0.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
MetaTrader5==5.0.4424
mt5==0.0.3.1
numpy==2.1.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==75.2.0
six==1.16.0
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.4
zope.interface==7.1.0
Flask-MySQLdb==2.0.0
Flask-WTF==1.2.1
Flask-Login==0.6.3
mysql-connector-python==8.2.0
mysqlclient==2.2.0
SQLAlchemy==2.0.23
PyJWT==2.8.0
bcrypt==4.0.1
cryptography==41.0.5
websocket-client==1.6.4
python-binance==1.0.19
ccxt==4.1.13
python-dotenv==1.0.0
PyYAML==6.0.1
psycopg2
